{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ]
}
